@model CineTix.Models.Entity_Classes.Movie
@{
    ViewData["Title"] = "About " + Model.Title;
    var userRole = Context.Session.GetString("UserRole");
    var userEmail = Context.Session.GetString("UserEmail");
}
<div class="container mt-5 mb-3">
    <div class="card mb-3" style="background-color: transparent; color: white">
        <div class="row g-0">
            <div class="col-md-4" style="height: auto">
                <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="@Model.Title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Synopsis</p>
                    <p class="card-text"><strong>Duration: </strong>@Model.Duration.Hours hr @Model.Duration.Minutes min</p>
                    <p class="card-text"><strong>Release Date: </strong>@Model.ReleaseDate.ToString("dd MMM yyyy")</p>
                    <p class="card-text"><strong>Price: </strong>@Model.Price.ToString("c")</p>
                    <p class="card-text"><strong><i class="fas fa-star" style="color: gold"></i> Rotten Tomato Score: </strong>@Model.RottenTomatoScore%</p>
                    <p class="card-text"><strong>Genre: </strong>@Model.Genre</p>
                    <p class="card-text">
                        <strong>Cinema: </strong>
                        @if (Model.Cinema != null)
                        {
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">
                                @Model.Cinema.Name
                            </a>
                        }
                        else
                        {
                            <span>Not Available</span>
                        }
                    </p>
                    <p class="card-text">
                        <strong>Producer: </strong>
                        @if (Model.Producer != null)
                        {
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.Name
                            </a>
                        }
                        else
                        {
                            <span>Not Available</span>
                        }
                    </p>

                    <p class="card-text">
                        <strong>Actors:</strong>
                        @if (Model.Actor!=null)
                        {
                            <a asp-controller="Actors" asp-action="Details" asp-route-id="@Model.ActorId">
                               @Model.Actor.Name
                            </a>     
                        }
                        else
                        {
                            <li>No actors available</li>
                        }
                    </p>
                    <div class="mt-4">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login to reserve a seat</a>
                        }
                        else if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Orders" asp-action="ShopingCart" asp-route-movieId="@Model.Id" class="btn btn-primary">Reserve a seat</a>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="mt-4 mb-3">
                            <a asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                            <form asp-controller="Movies" asp-action="Delete" asp-route-id="@Model.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
